body {
  /* font-family: "Nunito", sans-serif; */
  width: 100%;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  /* font-family: "Palanquin Dark", sans-serif; */
  padding-bottom: 50px;
  padding-top: 100px;
}

.box {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .box {
    width: 100%;
  }
}

main {
  animation: 1s bodyPopIn ease-in-out;
}

@keyframes bodyPopIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.;
